@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>

<form action="/Mail/Add" method="post">
    <input type="text" placeholder="Subject" name="Subject" />
    <input type="text" placeholder="Body" name="Body" />
    <input type="text" placeholder="From" name="From" />
    <input type="text" placeholder="To" name="To" />

    <input type="submit" />
</form>
