<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true">

  <targets>
    <target name="fileLog" xsi:type="File"
				fileName="${basedir}/Logs/${shortdate}.log"
				layout="${date:format=yyyy-MM-dd HH\:mm\:ss}|${logger}|${message} ${exception:format=tostring}"
				header="----- Start of log -----"
				footer="----- End of log -----" />

    <target name="consoleLog" xsi:type="Console"
				layout="${date:format=HH\:mm\:ss}|${logger}|${message} ${exception:format=tostring}" />

    <target name="mailLog" xsi:type="Mail"
				layout="${date:format=yyyy-MM-dd HH\:mm\:ss}|${logger}|${message} ${exception:format=tostring}"
				header="----- Start of log -----"
				footer="----- End of log -----"
				smtpServer="smtp.mailgun.org"
				smtpPort="25"
				smtpAuthentication="Basic"
				smtpUserName="info@mailfeed.mailgun.org"
				smtpPassword="whitehouse"
				from="info@mailfeed.mailgun.org"
				to="cl@iteam.se"
				subject="[DEV:MailFeed] Log message" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="mailLog" />
  </rules>
</nlog>
